.input-container {
  position: relative;
  display: inline-block;
  width: 300px;
}

.input-container input {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Noto Sans Thai', sans-serif;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 20px;
  font-family: 'Noto Sans Thai', sans-serif;
}